.navbar-wrapper {
    background-color: Black;
    height: 2%;
    /* 원하는 하늘색을 설정합니다. */
}

.navbar-wrapper .nav-link {
    color: #e9ecef;
    /* 폰트 색상을 흰색(white)으로 설정합니다. */
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 17px;
}

/* 네비게이션 바 링크에 Hover 효과 추가 */
.navbar-wrapper .nav-link:hover {
    color: white;
    /* Hover 효과 색상을 흰색(white)으로 설정합니다. */
}

.navbar-brand-image-wrapper {
    height: 100%;
    display: flex;
    align-items: center;
}

.navbar-brand-image {
    height: 40px;
    max-height: 100%;
    max-width: 100%;
    margin: 0 auto;   
    /* Center the image horizontally if needed */
}